body {
    font-family: 'Noto Sans JP', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: hsl(212, 45%, 89%);
}

.container {
    width: 250px;
    height: max-content;

    padding: 15px;


    border-radius: 15px;
    box-shadow: -2px -2px 20px rgb(118, 118, 118);
    box-shadow: 2px 2px 20px rgb(118, 118, 118);

    background-color: hsl(0, 0%, 100%);
}

h1 {
    font-size: 1.1em;
    text-align: center;
    font-weight: 700;

    padding: 5px 0;
}

img {
    width: 100%;
    border-radius: 15px;
}

p {
    font-size: 14px;
    font-weight: 400;

    text-align: center;
    padding-bottom: 10px;

    color: hsl(220, 15%, 55%);

}